:root 
{
    --purple-strong : #69297F;
    --purple-middle : #904D9B;
    --purple-clear  : #f371ca;
    --blue-strong   : #285192;
    --blue-middle   : #2A62B0;
    --blue-clear    : #31A7DF;
    --white         : #DFECF4;
    --grey          : #A6B8C4;
    --black         : #000018;
    --star          : #FFFDFF;
}
*
{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
.container
{
    display: flex;
    justify-content: start;
}
.background-container
{
    background: rgb(14,5,50);
    background: radial-gradient(circle, rgba(21, 8, 73, 0.582) 0%, rgb(73, 14, 65) 38%, rgb(236, 191, 230) 60%,
    rgb(22, 8, 75) 65%, rgb(0, 0, 0) 95%);
    width: 800px;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid var(--purple-strong);
    overflow: hidden;
}
.planet-1
{
    width: 200px;
    height: 200px;
    background-color: var(--purple-strong);
    position: absolute;
    border-radius: 50%;
    border: 8px solid var(--black);
    overflow: hidden;
    transform: scale(2);
    z-index: 1;
}
.color-planet2
{
    width: 200px;
    height: 200px;
    background-color: var(--purple-clear);
    border-radius: 50%;
    position: absolute;
    left:70px;
}

.color-planet1
{
    width: 100px;
    height: 40px;
    border-radius: 50%;
    border-bottom: 8px solid var(--purple-middle);
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(20deg);

}
.line1
{
    top: 2px;
    left: 47px;
    width: 80px;
    height: 45px;
}
.line2
{
    top: 15px;
    left: 45px;
    width: 110px;
    height: 42px;
    transform: rotate(10deg);

}
.line3
{
    top: 40px;
    left: 60px;
    width: 40px;
    height: 20px;
    transform: rotate(15deg);
}

.line4
{
    top: 34px;
    left: 50px;
    width: 80px;
    height: 35px;
    transform: rotate(10deg);
}

.line5
{
    top: 45px;
    left: 30px;
    width: 110px;
    height: 30px;
    transform: rotate(10deg);
}
.line6
{
    top: 50px;
    left: 40px;
    width: 90px;
    height: 30px;
    transform: rotate(10deg);

}
.line7
{
    top: 45px;
    left: 40px;
    width: 80px;
    height: 45px;
    transform: rotate(10deg);
}
.line8
{
    top: 72px;
    left: 40px;
    width: 90px;
    height: 25px;
    transform: rotate(10deg);
}
.line9
{
    top: 84px;
    left: 50px;
    width: 70px;
    height: 20px;
    transform: rotate(10deg);
}

.line10
{
    top: 80px;
    left: 35px;
    width: 120px;
    height: 32px;
    transform: rotate(10deg);
}
.line11
{
    top: 83px;
    left: 20px;
    width: 100px;
    height: 30px;
    transform: rotate(15deg);
}
.line12
{
    top: 90px;
    left: 20px;
    width: 100px;
    height: 30px;
    transform: rotate(15deg);
    
}
.line13
{
    top: 100px;
    left: 20px;
    width: 120px;
    height: 30px;
    transform: rotate(15deg);
}
.line14
{
    top: 121px;
    left: 60px;
    width: 80px;
    height: 20px;
    transform: rotate(10deg);
}
.line15
{
    top: 125px;
    left: 56px;
    width: 60px;
    height: 20px;
    transform: rotate(15deg);
    
} 
.line16
{
    top: 129px;
    left: 38px;
    width: 90px;
    height: 20px;
    transform: rotate(15deg);
} 
.line17
{
    top: 134px;
    left: 53px;
    width: 52px;
    height: 20px;
    transform: rotate(15deg);
} 
.line18
{
    top: 140px;
    left: 59px;
    width: 38px;
    height: 20px;
    transform: rotate(15deg);
} 
.line19
{
    top: 152px;
    left: 72px;
    width: 38px;
    height: 20px;
    transform: rotate(15deg);
} 
.line20
{
    top: 160px;
    left: 73px;
    width: 42px;
    height: 20px;
    transform: rotate(10deg);
} 
.line21
{
    top: 168px;
    left: 90px;
    width: 25px;
    height: 20px;
    transform: rotate(-5deg);
} 

/*/BORDE PLANETA/*/
.color-planet1-border
{
    position: absolute;
    border-radius: 50%;
    top: -6px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    transform: rotate(10deg);
    left: 50px;
    border-right: 16px solid var(--purple-middle);
    border-top: 16px solid var(--purple-middle);
    border-bottom: 16px solid var(--purple-middle);
}
.border-planet1
{
    background-color: var(--purple-strong);

}
.border-planet2
{
    width: 200px;
    height: 120px;
    top: -34px;
    left: -24px;
    transform: rotate(20deg);
    background-color: transparent;
}
.border-planet3
{
    top: 84px;
    transform: rotate(20deg);
    left: -20px;
    border-top:none ;
}
.border-planet4
{
    top: 104px;
    width: 128px;
    transform: rotate(-20deg);
    background-color: transparent;
    left: 120px;
    border-top:none ;
    border-right: none;
}
.border-planet5
{
    width: 300px;
    height: 120px;
    background-color: transparent;
    transform: rotate(25deg);
    top: 34px;
    left: -105px;
    border-top:none ;
    border-right:none ;
}
.border-planet6
{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top: -10px;
    left: -33px;
    border-right: 8px solid var(--purple-middle);
}
/*///////////////////LINEAS COLOR PLANETA///////////*/
.color-planet1-line 
{
    position: absolute;
    border-radius: 50%;
    top: -6px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    transform: rotate(10deg);
    left: 50px;
    border-right: 8px solid var(--black);
    border-top: 8px solid var(--black);
    border-bottom: 8px solid var(--black);
}
.line-planet2
{
    width: 200px;
    height: 120px;
    top: -40px;
    left: -25px;
    transform: rotate(20deg);
    background-color: transparent;
}
.line-planet3
{
    top: 80px;
    transform: rotate(20deg);
    left: -20px;
    border-top:none ;
}
.line-planet4
{
    top: 100px;
    width: 120px;
    transform: rotate(-20deg);
    background-color: transparent;
    left: 120px;
    border-top:none ;
    border-right: none;
}
.line-planet5
{
    width: 300px;
    height: 120px;
    background-color: transparent;
    transform: rotate(25deg);
    top: 30px;
    left: -105px;
    border-top:none ;
    border-right:none ;
}
/*///////////////////ROCAS DEL PLANTETA//////////*/
.circle-planet1
{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--black);
}
.circle1
{
    top: 10px;
    left: 100px;
}
.circle2
{
    width: 5px;
    height: 5px;
    top: 65px;
    left: 75px;
}
.circle3
{
    width: 7px;
    height: 7px;
    top:80px;
    left: 30px;
}
.circle4
{
    width: 30px;
    height: 25px;
    top:100px;
    left: 125px;
}
.circle5
{
    width: 7px;
    height: 7px;
    top:155px;
    left: 120px;
}
.stars-planet
{
    width: 800px;
    height: 800px;
}
.container-stars 
{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--star);
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 10;
}
.start1
{
    width: 20px;
    height: 20px;
    top: 50px;
    left: 70px;
}
.start2
{
    top: 210px;
    left: 600px;
    width: 20px;
    height: 20px;
}
.start3
{
    top: 700px;
    left: 180px;
    width: 15px;
    height: 15px;
}
.start4
{
    top: 500px;
    left: 720px;
}
.start5
{
    top: 100px;
    left: 320px;
}
.start6
{
    top: 300px;
    left: 10px;
    width: 23px;
    height: 23px;
}
.start7
{
    top: 720px;
    left: 720px;
}
.start8
{
    top: 32px;
    left: 700px;
}
.start9
{
    top: 290px;
    left: 690px;
}
.start10
{
    top: 516px;
    left: 594px;
    width: 20px;
    height: 20px;
}
.start11
{
    top: 500px;
    left: 110px;   
}
.start12
{
    top: 700px;
    left: 650px;
    height: 30px;
    width: 30px;
}
.start1-
{
    width: 20px;
    height: 20px;
    top: 120px;
    left: 60px;
    transform: scale(0.5);
}
.start2-
{
    top: 610px;
    left: 100px;
    width: 20px;
    height: 20px;
    transform: scale(0.5);
}
.start3-
{
    top: 620px;
    left: 230px;
    width: 15px;
    height: 15px;
    transform: scale(0.5);
}
.start4-
{
    top: 250px;
    left: 120px;
    transform: scale(0.5);
}
.start5-
{
    top: 190px;
    left: 20px;
    transform: scale(0.5);
}
.start6-
{
    top: 350px;
    left: 130px;
    width: 23px;
    height: 23px;
    transform: scale(0.5);
}
.start7-
{
    top: 580px;
    left: 220px;
    transform: scale(0.5);
}
.start8-
{
    top: 690px;
    left: 450px;
    transform: scale(0.5);
}
.start9-
{
    top: 164px;
    left: 450px;
    transform: scale(0.5);
}
.start10-
{
    top: 116px;
    left: 704px;
    width: 20px;
    height: 20px;
    transform: scale(0.5);
}
.start11-
{
    top: 700px;
    left: 510px;   
    transform: scale(0.5);
}
.start12-
{
    top: 740px;
    left: 250px;
    height: 30px;
    width: 30px;
    transform: scale(0.5);
}
.container-stars-big
{
    width: 10px;
    height: 70px;
    position: absolute;
    background-color: var(--purple-middle);
    top: 0;
    left: 0;
    border-radius: 50%;
}
.container-stars-small
{
    width: 60px;
    height: 10px;
    position: absolute;
    background-color: var(--purple-middle);
    top: 700px;
    left: 700px;
    border-radius: 80%;
}
.stars-big1
{
    top: 60px;
    left: 128px;
}
.stars-small1
{
    top: 92px;
    left: 103px;
}
.stars-big2
{
    top: 260px;
    left: 628px;
}
.stars-small2
{
    top: 292px;
    left: 603px;
}
.stars-big3
{
    top: 660px;
    left: 128px;
}
.stars-small3
{
    top: 692px;
    left: 103px;
}
.stars-big4
{
    top: 700px;
    left: 328px;
    background-color: var(--purple-clear);
    transform: scale(0.7);
}
.stars-small4
{
    top: 732px;
    left: 303px;
    background-color: var(--purple-clear);
    transform: scale(0.7);
}
.stars-big5
{
    top: 100px;
    left: 698px;
    background-color: var(--purple-clear);
    transform: scale(0.7);
}
.stars-small5
{
    top: 132px;
    left: 673px;
    background-color: var(--purple-clear);
    transform: scale(0.7);
}
.stars-big6
{
    top: 650px;
    left: 698px;
    background-color: var(--purple-clear);

}
.stars-small6
{
    top: 682px;
    left: 673px;
    background-color: var(--purple-clear);
}
.stars-big7
{
    top: 350px;
    left: 185px;
    background-color: var(--purple-clear);

}
.stars-small7
{
    top: 382px;
    left: 160px;
    background-color: var(--purple-clear);
}
.stars-big8
{
    top: 50px;
    left: 498px;
    background-color: var(--purple-clear);
    z-index: 2;

}
.stars-small8
{
    top: 82px;
    left: 473px;
    background-color: var(--purple-clear);
    z-index: 2;
}
.stars-big1-
{
    top: 660px;
    left: 628px;
    transform: scale(0.5);
}
.stars-small1-
{
    top: 692px;
    left: 603px;
    transform: scale(0.5);
}
.stars-big2-
{
    top: 160px;
    left: 328px;
    transform: scale(0.5);
}
.stars-small2-
{
    top: 192px;
    left: 303px;
    transform: scale(0.5);
}
.stars-big3-
{
    top: 560px;
    left: 728px;
    transform: scale(0.5);
}
.stars-small3-
{
    top: 592px;
    left: 703px;
    transform: scale(0.5);
}
.stars-big4-
{
    top: 100px;
    left: 428px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-small4-
{
    top: 132px;
    left: 403px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-big5-
{
    top: 2px;
    left: 298px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-small5-
{
    top: 32px;
    left: 273px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-big6-
{
    top: 550px;
    left: 68px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-small6-
{
    top: 582px;
    left: 43px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-big7-
{
    top: 550px;
    left: 498px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-small7-
{
    top: 582px;
    left: 473px;
    background-color: var(--purple-clear);
    transform: scale(0.5);
}
.stars-big8-
{
    top: 150px;
    left: 98px;
    background-color: var(--purple-clear);
    z-index: 2;
    transform: scale(0.5);
}
.stars-small8-
{
    top: 182px;
    left: 73px;
    background-color: var(--purple-clear);
    z-index: 2;
    transform: scale(0.5);
}
@media (max-width: 600px) 
{
    .background-container
    {
        height: 100vh;
    }    
}


